<footer class="w-full h-10 bg-slate-900 flex items-center justify-center text-white">
  <small>Copyright &copy; 2024 - Olyzano.</small>
</footer>

<script src="../path/to/flowbite/dist/flowbite.bundle.js"></script>
</body>
</html>