<footer class="w-full sm:w-[650px] h-10 bg-slate-900 flex items-center justify-center text-white">
  <small>Copyright &copy; 2024 - Olyzano.</small>
</footer>

<script src="../path/to/flowbite/dist/flowbite.bundle.js"></script>
<script>
  // document.addEventListener('contextmenu', function(event) {
  //           event.preventDefault();
  //           alert('Klik kanan dinonaktifkan di halaman ini.');
  //       });
</script>
</body>
</html>