<%- include("layouts/header.ejs") %>

<header class="sm:w-[650px] h-auto p-20 sm:p-0 bg-white dark:bg-slate-700 flex sm:flex-col">
  <article class="w-full h-full">
    <div class="textbox w-full h-full p-16">
      <h1 class="text-5xl font-bold text-slate-800 dark:text-slate-100">Welcome,</h1>
      <p class="mb-4 mt-4 text-2xl w-full h-10 text-slate-800 dark:text-slate-100" id="typewriter-text"></p>
      <div class="flex gap-3">
        <a href="/about">
          <button class="bg-white shadow-lg text-slate-800 hover:bg-slate-200 text-white font-bold py-2 px-4 rounded">
            <i class="fa-solid fa-heart text-red-500"></i>
            About me
          </button>
        </a>
        <a href="/">
          <button class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded">
            <i class="fa-solid fa-download"></i>
            Portfolio
          </button>
        </a>
      </div>
      <div class="sosmed mt-4 text-2xl text-slate-800 dark:text-slate-100">
        <ul class="flex gap-3">
          <li>
            <a href="">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <figure class="w-full h-full flex items-center justify-center relative sm:hidden">
    <div class="absolute top-10 left-20">
      <div class="flex items-center justify-center bg-slate-200 shadow-lg dark:bg-slate-900 text-white p-2 w-20 h-20 rounded-full sm:w-[50px] sm:h-[50px]">
        <img src="/public/image/homePage/header-2.png" alt="header-2" width="60" />
      </div>
    </div>
    <div class="absolute top-10 right-20">
      <div class="flex items-center justify-center bg-slate-200 shadow-lg dark:bg-slate-900 text-white p-2 w-20 h-20 rounded-full sm:w-[50px] sm:h-[50px]">
        <img src="/public/image/homePage/header-3.png" alt="header-3" width="60" />
      </div>
    </div>
    <div class="absolute bottom-10 right-20">
      <div class="flex items-center justify-center bg-slate-200 shadow-lg dark:bg-slate-900 text-white p-2 w-20 h-20 rounded-full sm:w-[50px] sm:h-[50px]">
        <img src="/public/image/homePage/header-4.png" alt="header-4" width="60" />
      </div>
    </div>
    <img src="/public/image/homePage/header.png" alt="header-img" width="400" class="sm:w-[200px]" />
  </figure>
</header>

<main class="container w-full sm:w-[650px] h-auto p-20 sm:p-0 bg-white dark:bg-slate-700">
  <section id="about" class="w-full h-[500px] p-5">
    <div class="w-full h-full flex sm:flex-col sm:gap-10 sm:items-center">
      <aside class="w-full h-full p-10">
        <h1 class="text-3xl font-bold text-slate-800 dark:text-slate-100">
          <i class="fa-solid fa-flask-vial"></i>
          Technology
        </h1>
        <div class="w-full h-full flex items-center justify-center mt-5">
          <ul class="mt-4 p-2 w-[400px] grid grid-rows-4 grid-flow-col gap-4">
            <%- include("components/home/techSection.ejs") %>
          </ul>
        </div>
      </aside>

      <aside class="w-full h-full flex items-center justify-center sm:hidden">
        <img src="/public/image/homePage/tech-img-1.png" alt="tech-img-1.png" width="400" />
        <h3 class="mb-5 font-bold text-black dark:text-white">"First, solve the problem. Then, write the code." — John Johnson</h3>
      </aside>
    </div>
  </section>

  <section class="w-full sm:w-[650px] h-auto p-20 sm:p-10">
    <h1 class="text-3xl font-bold text-slate-800 dark:text-slate-100">
      <i class="fa-solid fa-bullseye"></i>
      Our plan
    </h1>

    <div class="card-wrapper w-full h-full p-5"><%- include("components/home/planSection.ejs") %></div>
  </section>

  <!-- contact section -->
  <section class="w-full h-auto sm:h-auto p-20 flex sm:flex-col sm:p-10">
    <aside class="w-full h-full">
      <article>
        <h1 class="text-3xl font-bold text-slate-800 dark:text-slate-100">
          <i class="fa-solid fa-person-hiking"></i>
          Get some projects ?
        </h1>
        <h3 class="text-2xl font-bold text-slate-800 dark:text-slate-100">Let's Talk</h3>
      </article>
      <div class="w-full h-full sm:h-[400px] flex items-center justify-center">
        <img src="/public/image/homePage/contact.png" alt="contact-img" width="400" class="m-5 sm:m-0" />
      </div>
    </aside>

    <aside class="w-full h-full relative">
      <form action="" class="bg-slate-900 p-10 W-32 h-auto rounded-md">
        <div class="mt-2">
          <div class="w-full h-10 border-2 rounded border flex items-center gap-2 p-3 mt-2 bg-white">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="enter your username" class="focus:outline-none focus:border-none w-full bg-transparent" autocomplete="off" />
          </div>
        </div>
        <div class="mt-5">
          <div class="w-full h-10 border-2 rounded border flex items-center gap-2 p-3 mt-2 bg-white">
            <i class="fa-solid fa-at"></i>
            <input type="email" name="email" placeholder="enter your email" class="focus:outline-none focus:border-none w-full bg-transparent" autocomplete="off" />
          </div>
        </div>
        <div class="mt-2">
          <label for="message" class="font-bold text-white">message for us</label>
          <div class="w-full mt-2">
            <textarea name="message" id="message" cols="30" rows="10" class="w-full border-2 border-black rounded p-2 resize-none focus:outline-none" placeholder="enter your message with 💖"></textarea>
          </div>
        </div>

        <button class="bg-sky-500 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded mt-3"><i class="fa-solid fa-paper-plane"></i> Send</button>
      </form>
    </aside>
  </section>
</main>


<script src="/public/js/typewritter.js"></script>

<%- include("layouts/footer.ejs") %>