@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.typewriter {
  font-size: 24px;
  color: #333;
  border-right: 0.15em solid #333;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.typewriter p {
  display: inline;
  animation: blink-caret 0.75s step-end infinite;
}

.typewriter::after {
  content: "";
  animation: blink-caret 0.75s step-end infinite;
}

.dropdown {
  display: none;
}

.dropdown-mother:hover .dropdown {
  display: block;
}
