<div class="w-full h-full p-10 sm:p-0 flex sm:flex-col gap-10 items-center sm:mt-10">
  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full flex items-center justify-center">
      <img src="/public/image/homePage/goal-1.png" alt="" width="200" height="200" />
    </div>
    <div class="card- w-full h-full p-2 text-center">
      <h3 class="text-xl font-bold">Web Design</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full flex items-center justify-center">
      <img src="/public/image/homePage/goal-3.png" alt="" width="200" height="200" />
    </div>
    <div class="card- w-full h-full p-2 text-center">
      <h3 class="text-xl font-bold">Web Development</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full flex items-center justify-center">
      <img src="/public/image/homePage/goal-2.png" alt="" width="200" height="200" />
    </div>
    <div class="card- w-full h-full p-2 text-center">
      <h3 class="text-xl font-bold">Web Consultant</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full flex items-center justify-center">
      <img src="/public/image/homePage/goal-4.png" alt="" width="200" height="200" />
    </div>
    <div class="card- w-full h-full p-2 text-center">
      <h3 class="text-xl font-bold">Web Maintenance</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus,</p>
    </div>
  </div>
</div>
