<div class="w-full h-full p-10 flex gap-10">
  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full relative">
      <img src="/public/image/homePage/goal-1.png" alt="" width="200" height="200" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
    </div>
    <div class="card- w-full h-full p-2">
      <h3 class="text-xl font-bold">Web Design</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full relative">
      <img src="/public/image/homePage/goal-3.png" alt="" width="200" height="200" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
    </div>
    <div class="card- w-full h-full p-2">
      <h3 class="text-xl font-bold">Web Development</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full relative">
      <img src="/public/image/homePage/goal-2.png" alt="" width="200" height="200" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
    </div>
    <div class="card- w-full h-full p-2">
      <h3 class="text-xl font-bold">Web Consultant</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus, facilis excepturi fuga suscipit pariatur dolorem!</p>
    </div>
  </div>

  <div class="card w-[300px] h-full bg-white flex flex-col rounded-md">
    <div class="card- w-full h-full relative">
      <img src="/public/image/homePage/goal-4.png" alt="" width="200" height="200" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
    </div>
    <div class="card- w-full h-full p-2">
      <h3 class="text-xl font-bold">Web Maintenance</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur et obcaecati dolorum ducimus,</p>
    </div>
  </div>
</div>
